.popup__container {
    max-height: 330px;
    max-width: 430px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 999;
    padding: 34px 36px 37px;
    box-sizing: border-box;
}

@media screen and (max-width: 560px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px;
        max-height: 322px;
    }
}