.popup__submit {
    display: block;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition-property: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 560px) {
    .popup__submit {
        margin-top: 17px;
        font-size: 14px;
        line-height: 17px;
    }
}