.popup__close {
    position: absolute;
    background-image: url("../../../images/close_button/active.png");
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    transition-property: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 550px) {
    .popup__close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
}