.card__like {
    background-image: url("../../../images/like/disable.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    background-color: #FFFFFF;
    height: 19px;
    width: 22px;
    padding: 0;
    margin: 0 0 6px;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.card__like:hover {
    opacity: .5;
    cursor: pointer;
}
