.profile__info {
    flex: 1;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    margin-right: 20px ;

    max-width: 100%;
}

@media screen and (max-width: 920px) {
    .profile__info {
        margin-right: 0 ;
    }
}
