.profile__button {
    background-image: url("../../../images/add_button.png");
    min-width: 150px;

    height: 50px;

    margin-left: auto;

    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;

    cursor: pointer;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 920px) {
    .profile__button {
        margin: 0;
        width: 100%;
    }
}
